/*
  Console Plugin

  Copyright (C) 2003-2004 Artur Dorochowicz
  All Rights Reserved.
*/

#include <windows.h>

#include "resources.h"
#include "version.h"

IDB_CLOSE	BITMAP "close.bmp"
IDB_MINIMIZE	BITMAP "minimize.bmp"
IDB_TITLE_BAR	BITMAP "title_bar.bmp"

// English (U.K.) resources
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION     CONSOLE_MAJOR_VERSION,CONSOLE_MINOR_VERSION,CONSOLE_REVISION,0
PRODUCTVERSION  CONSOLE_MAJOR_VERSION,CONSOLE_MINOR_VERSION,CONSOLE_REVISION,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904b0"
    BEGIN
      VALUE "CompanyName",      "x-phile"
      VALUE "FileDescription",  "Console Plugin"
      VALUE "FileVersion",      CONSOLE_VERSION
      VALUE "InternalName",     "Console Plugin"
      VALUE "LegalCopyright",   "Copyright © 2003-2004 Artur Dorochowicz"    
      VALUE "OriginalFilename", "Console.dll"
      VALUE "ProductName",      "Console Plugin"
      VALUE "ProductVersion",   CONSOLE_VERSION
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 0x4b0
  END
END
